<h1>Recipes</h1>

<p *ngIf="!recipes"><em>Loading...</em></p>

<div *ngIf="recipes">

  <div class="row">
    <div class="col-sm-4">
      <div class="clearfix">
        <h2 class="float-start">Recipes</h2>
        <button class="btn btn-default float-end" title="New Recipe..."
                (click)="showNewRecipeModal(newRecipeModalTemplate)">
          <i class="bi bi-journal-plus">New Recipe</i>
        </button>
      </div>
      <ul class="list-group">
        <li *ngFor="let recipe of recipes; index as i" class="list-group-item"
            [ngClass]="{ 'active': selectedRecipe == recipe }" (click)="selectedRecipe = recipe">
          <div class="clearfix">
            <div class="float-start">
              {{ recipe.name }}
            </div>
            <div class="float-end text-right">
              <!--<span class="badge badge-light">{{ remainingCalledIngredients(recipe) }}</span>-->
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-sm-8" *ngIf="selectedRecipe">
      <div class="clearfix">
        <h2>Serves: {{ selectedRecipe.serves }}</h2>
        <button id="recipeOptions" class="btn btn-default float-end" title="Recipe Options..."
                (click)="showRecipeOptionsModal(recipeOptionsModalTemplate)">
          <i class="bi bi-three-dots-vertical"></i>
        </button>
      </div>

      <ul id="called-ingredients" class="list-group mb-2 list-group-flush">
        <li class="list-group-item" *ngFor="let calledIngredient of selectedRecipe?.calledIngredients; index as i" [ngClass]="{'list-group-item-warning': isLowInventory(calledIngredient), 'list-group-item-danger': !calledIngredient?.unitType || !calledIngredient?.units || !calledIngredient?.productStock}">
          <div class="d-flex">
            <div class="flex-fill">
              <div *ngIf="calledIngredient.productStock" class="item-name form-control form-control-plaintext">
                <input type="text" readonly class="form-control-plaintext" value="{{ calledIngredient.name + ' ( ' + calledIngredient.productStock.name + ' )'}}">
              </div>
              <div *ngIf="!calledIngredient.productStock" class="item-name form-control">
                <input id="{{ 'calledIngredientName' + i }}" *ngIf="calledIngredient == selectedCalledIngredient" type="text"
                       class="form-control item-input-control" [(ngModel)]="calledIngredient.name" (keyup.enter)="updateCalledIngredient(calledIngredient, true)"
                       (blur)="updateCalledIngredient(calledIngredient)" autofocus="autofocus" />
                <div *ngIf="calledIngredient != selectedCalledIngredient" (click)="editCalledIngredient(calledIngredient, 'calledIngredientName' + i)" class="item-name form-control item-input-control">
                  <span>{{ calledIngredient.name }}</span>
                </div>
              </div>
            </div>
            <div class="item-commands d-flex">
              <button *ngIf="calledIngredient.id != 0" (click)="showCalledIngredientDetailsModal(calledIngredientDetailsModalTemplate, calledIngredient)" class="my-auto btn btn-default btn-xs" role="button">
                <i class="bi bi-three-dots-vertical"></i>
              </button>
            </div>
          </div>
        </li>
        <li class="list-group-item" (click)="addCalledIngredient()">
          <button class="btn btn-default">Add CalledIngredient...</button>
        </li>
      </ul>
    </div>
  </div>
</div>

<div *ngIf="debug">
  <pre>{{ recipes | json }}</pre>
</div>

<ng-template #newRecipeModalTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">New Recipe</h4>
    <button type="button" class="close btn-close pull-right" aria-label="Close" (click)="newRecipeCancelled()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="inputRecipeName">Name</label>
      <input type="text" class="form-control" id="inputRecipeName" placeholder="Name..." [(ngModel)]="newRecipeEditor.name"
             [ngClass]="{ 'is-invalid': newRecipeEditor.errorResponse?.errors.Name }" />
      <div *ngIf="newRecipeEditor.errorResponse" class="invalid-feedback">
        {{ newRecipeEditor.errorResponse.errors.Name }}
      </div>
      <label for="inputRecipeServes">Serves</label>
      <input type="number" class="form-control" id="inputRecipeServes" placeholder="Serves..."
             [(ngModel)]="newRecipeEditor.serves"
             [ngClass]="{ 'is-invalid': newRecipeEditor.errorResponse?.errors.Serves }" />
      <div *ngIf="newRecipeEditor.errorResponse" class="invalid-feedback">
        {{ newRecipeEditor.errorResponse.errors.Serves }}
      </div>

    </div>
    <div class="form-group">
      <label for="userImport">User Import</label>
      <textarea type="text" class="form-control" id="inputRecipeUserImport" placeholder="User Import..." [(ngModel)]="newRecipeEditor.userImport"
                [ngClass]="{ 'is-invalid': newRecipeEditor.errorResponse?.errors.UserImport }"></textarea>
      <div *ngIf="newRecipeEditor.errorResponse" class="invalid-feedback">
        {{ newRecipeEditor.errorResponse.errors.UserImport }}
      </div>
    </div>
    <div class="form-group">
      <div *ngIf="newRecipeEditor.errorResponse" class="invalid-feedback d-block">
        {{ newRecipeEditor.errorResponse.title }}
      </div>
    </div>
    <div *ngIf="debug">
      <pre>{{ newRecipeEditor | json }}</pre>
    </div>
  </div>
  <div class="modal-footer clearfix">
    <div class="float-end">
      <button class="btn btn-default" (click)="newRecipeCancelled()">Cancel</button>
      <button class="btn btn-primary" (click)="addRecipe()">Create</button>
    </div>
  </div>
</ng-template>

<ng-template #recipeOptionsModalTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Recipe Options</h4>
    <button type="button" class="close btn-close pull-right" aria-label="Close" (click)="recipeOptionsModalRef.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="inputRecipeName">Recipe Name</label>
      <input type="text" class="form-control" id="inputRecipeName" placeholder="Name..."
             [(ngModel)]="recipeOptionsEditor.name"
             [ngClass]="{ 'is-invalid': recipeOptionsEditor.errorResponse?.errors.Name }" />
      <div *ngIf="recipeOptionsEditor.errorResponse" class="invalid-feedback">
        {{ recipeOptionsEditor.errorResponse.errors.Name }}
      </div>
      <label for="inputRecipeServes">Serves</label>
      <input type="number" class="form-control" id="inputRecipeServes" placeholder="Serves..."
             [(ngModel)]="recipeOptionsEditor.serves"
             [ngClass]="{ 'is-invalid': recipeOptionsEditor.errorResponse?.errors.Serves }" />
      <div *ngIf="recipeOptionsEditor.errorResponse" class="invalid-feedback">
        {{ recipeOptionsEditor.errorResponse.errors.Serves }}
      </div>
    </div>
    <div class="form-group">
      <div *ngIf="recipeOptionsEditor.errorResponse" class="invalid-feedback d-block">
        {{ recipeOptionsEditor.errorResponse.title }}
      </div>
    </div>
    <div *ngIf="debug">
      <pre>{{ recipeOptionsEditor | json }}</pre>
    </div>
  </div>
  <div class="modal-footer">
    <div class="clearfix">
      <div class="float-start">
        <button class="btn btn-default text-danger" (click)="confirmDeleteRecipe(deleteRecipeModalTemplate)">Delete</button>
      </div>
      <div class="float-end">
        <button class="btn btn-default" (click)="recipeOptionsModalRef.hide()">Cancel</button>
        <button class="btn btn-primary" (click)="updateRecipeOptions()">Update</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #calledIngredientDetailsModalTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">CalledIngredient Details</h4>
    <button type="button" class="close btn-close pull-right" aria-label="Close" (click)="calledIngredientDetailsModalRef.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form">
      <div class="form-group">
        <label for="unitType">Unit Type</label>
        <select class="form-control" [(ngModel)]="calledIngredientDetailsEditor.unitType">
          <option [ngValue]="unitType.value" *ngFor="let unitType of unitTypes">{{ unitType.name }}</option>
        </select>
      </div>
      <div class="form-group">
        <div *ngIf="!calledIngredientDetailsEditor.productStock && calledIngredientDetailsEditor.productStockSearchItems">
          <label for="search">Search by Name</label>
          <input type="text" class="form-control" id="search" placeholder="Name..." [(ngModel)]="calledIngredientDetailsEditor.search"
                 [ngClass]="{ 'is-invalid': calledIngredientDetailsEditor.error }" (keyup.enter)="searchIngredientName()" />
          <div class="float-end">
            <button class="btn btn-primary" (click)="searchIngredientName()">Search</button>
          </div>
          <select class="form-control" [(ngModel)]="calledIngredientDetailsEditor.productStockId">
            <option [ngValue]="productStockSearchItem.id" *ngFor="let productStockSearchItem of calledIngredientDetailsEditor.productStockSearchItems">{{ productStockSearchItem.name }}</option>
          </select>
        </div>
        <!--TODO:we can have a button that unlinks a called ingredient to a stocked product if we make a mistake-->
        <!--<div *ngIf="calledIngredientDetailsEditor.productStock">
          <input type="text" class="form-control" id="search" placeholder="Name..." [(ngModel)]="calledIngredientDetailsEditor.search"
                 [ngClass]="{ 'is-invalid': calledIngredientDetailsEditor.error }" (keyup.enter)="searchIngredientName()" />
          <div class="float-end">
            <button class="btn btn-primary" (click)="searchIngredientName()">Unlink Stocked Product</button>
          </div>
        </div>-->
      </div>
      <div class="form-group">
        <label for="units">Units</label>
        <input id="units" class="form-control" rows="3" [(ngModel)]="calledIngredientDetailsEditor.units" [ngClass]="{'bg-warning': calledIngredientDetailsEditor.productStock != null ? calledIngredientDetailsEditor.productStock.units < calledIngredientDetailsEditor.units: false }" />
      </div>
    </div>
    <div *ngIf="debug">
      <pre>{{ calledIngredientDetailsEditor | json }}</pre>
    </div>
  </div>
  <div class="modal-footer">
    <div class="clearfix">
      <div class="float-start">
        <button class="btn btn-default text-danger" (click)="deleteCalledIngredient(selectedCalledIngredientDetails)">Delete</button>
      </div>
      <div class="float-end">
        <button class="btn btn-default" (click)="calledIngredientDetailsModalRef.hide()">Cancel</button>
        <button class="btn btn-primary" (click)="updateCalledIngredientDetails()">Update</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #deleteRecipeModalTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Delete "{{ selectedRecipe?.name }}"?</h4>
    <button type="button" class="close btn-close pull-right" aria-label="Close" (click)="deleteRecipeModalRef.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p> Will be permanently deleted. </p>
    <div *ngIf="debug">
      <pre>{{ selectedRecipe | json }}</pre>
    </div>
  </div>
  <div class="modal-footer clearfix">
    <div class="float-end">
      <button type="button" class="btn btn-default" (click)="deleteRecipeModalRef.hide()">Cancel</button>
      <button type="button" class="btn btn-danger" (click)="deleteRecipeConfirmed()">Delete</button>
    </div>
  </div>
</ng-template>

