<div class="jumbotron">
  <div class="container-fluid">
    <h1 class="display-4">Week of Food</h1>
    <p class="lead"> - Making your relationship with food better a week at a time.</p>
    <p>Check out the chat feature below for a unique way of using this website designed to help you save money and get more done in the kitchen. <i><a href="https://openai.com" target="_blank">Powered by OpenAI</a></i></p>
  </div>
  <div class="container-fluid">
    <h1 class="display-4">How do I...</h1>
    <div class="row">
      <div class="lead"><a href="javascript:void(0)" (click)="makeANewRecipe()">Make a new recipe</a></div>
    </div>
    <div class="row">
      <div class="lead"><a href="javascript:void(0)" (click)="logARecipe()">Log that I ate a meal</a></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <p></p>
  </div>
</div>
