<h1 id="tableLabel">Kitchen Products</h1>

<p *ngIf="!kitchenProducts?.length"><em>Loading...</em></p>
<button class="btn btn-default float-end" title="New Kitchen Product..."
        (click)="showNewKitchenProductModal(newKitchenProductModalTemplate)">
  <i class="bi bi-journal-plus">New Kitchen Product</i>
</button>
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="kitchenProducts?.length">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Unit Type</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let kitchenProduct of kitchenProducts index as i">
      <td>{{ kitchenProduct.id }}</td>
      <td>{{ kitchenProduct.name }}</td>
      <td>{{ getUnitTypeNameFromUnitTypeValue(kitchenProduct.kitchenUnitType) }}</td>
      <td>
        <input id="{{ 'kitchenProduct' + i }}" *ngIf="kitchenProduct == selectedKitchenProductAmount" type="text"
               class="form-control item-input-control" [(ngModel)]="kitchenProduct.amount" (change)="updateKitchenProductAmount(kitchenProduct)"
               autofocus="autofocus" />
        <div *ngIf="kitchenProduct != selectedKitchenProductAmount" (click)="editKitchenProductAmount(kitchenProduct, 'kitchenProduct' + i)" class="item-name form-control item-input-control">
          <span>{{ kitchenProduct.amount }}</span>
        </div>
        <div class="item-commands d-flex">
          <button *ngIf="kitchenProduct.id != 0" (click)="showKitchenProductDetailsModal(kitchenProductModalTemplate, kitchenProduct)" class="my-auto btn btn-default btn-xs" role="button">
            <i class="bi bi-three-dots-vertical">Edit</i>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>


<ng-template #kitchenProductModalTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Kitchen Product Details</h4>
    <button type="button" class="close btn-close pull-right" aria-label="Close" (click)="kitchenProductModalRef.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form">
      <div class="form-group">
        <label for="name">Name</label>
        <div *ngIf="kitchenProductEditor.productSearchItems">
          <input type="text" class="form-control" id="name" placeholder="Name..." [(ngModel)]="kitchenProductEditor.name"
                 [ngClass]="{ 'is-invalid': kitchenProductEditor.error }" (keyup.enter)="searchProductName()" />
          <div class="float-end">
            <button class="btn btn-primary" (click)="searchProductName()">Search</button>
          </div>
          <select class="form-control" [(ngModel)]="kitchenProductEditor.productId">
            <option [ngValue]="productSearchItem.id" *ngFor="let productSearchItem of kitchenProductEditor.productSearchItems">{{ productSearchItem.name }}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="amount">Amount</label>
        <input id="amount" class="form-control" rows="3" [(ngModel)]="kitchenProductEditor.amount" />
      </div>
    </div>
    <div *ngIf="debug">
      <pre>{{ kitchenProductEditor | json }}</pre>
    </div>
  </div>
  <div class="modal-footer">
    <div class="clearfix">
      <div class="float-start">
        <button class="btn btn-default text-danger" (click)="confirmDeleteKitchenProduct(deleteKitchenProductModalTemplate)">Delete</button>
      </div>
      <div class="float-end">
        <button class="btn btn-default" (click)="kitchenProductModalRef.hide()">Cancel</button>
        <button class="btn btn-primary" (click)="updateKitchenProductDetails()">Update</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #newKitchenProductModalTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">New Kitchen Product</h4>
    <button type="button" class="close btn-close pull-right" aria-label="Close" (click)="newKitchenProductCancelled()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" placeholder="Name..." [(ngModel)]="newKitchenProductEditor.name"
             [ngClass]="{ 'is-invalid': newKitchenProductEditor.error }" (keyup.enter)="addKitchenProduct()" />
      <div *ngIf="newKitchenProductEditor.error" class="invalid-feedback">
        {{ newKitchenProductEditor.error }}
      </div>
    </div>
    <div *ngIf="debug">
      <pre>{{ newKitchenProductEditor | json }}</pre>
    </div>
  </div>
  <div class="modal-footer clearfix">
    <div class="float-end">
      <button class="btn btn-default" (click)="newKitchenProductCancelled()">Cancel</button>
      <button class="btn btn-primary" (click)="addKitchenProduct()">Create</button>
    </div>
  </div>
</ng-template>

<ng-template #deleteKitchenProductModalTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Delete "{{ kitchenProductEditor?.name }}"?</h4>
    <button type="button" class="close btn-close pull-right" aria-label="Close" (click)="deleteKitchenProductModalRef.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p> Will be permanently deleted. </p>
    <div *ngIf="debug">
      <pre>{{ kitchenProductEditor | json }}</pre>
    </div>
  </div>
  <div class="modal-footer clearfix">
    <div class="float-end">
      <button type="button" class="btn btn-default" (click)="deleteKitchenProductModalRef.hide()">Cancel</button>
      <button type="button" class="btn btn-danger" (click)="deleteKitchenProductConfirmed()">Delete</button>
    </div>
  </div>
</ng-template>

