<h1 id="tableLabel">Called Ingredients</h1>

<p>List of called ingredients</p>

<p *ngIf="!calledIngredients?.length"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="calledIngredients?.length">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Product Id</th>
      <th>Amount</th>
      <th>Unit Type</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let calledIngredient of calledIngredients">
      <td>{{ calledIngredient.id }}</td>
      <td>{{ calledIngredient.name }}</td>
      <td>{{ calledIngredient.kitchenProduct?.id }}</td>
      <td>{{ calledIngredient.amount }}</td>
      <td>{{ calledIngredient.kitchenUnitType }}</td>
    </tr>
  </tbody>
</table>
