<div class="wrapper {{theme}}">
  <div class="chat-box" *ngIf="visible" [@fadeInOut]="visible">
    <div class="chat-box-header">
      <div class="">
        <div class="system-status">
          {{system.status}}
          <span class="system-status-online">●</span>
          <button class="chat-button-header" (click)="toggleChat()">✕</button>
        </div>
        <chat-avatar [image]="system.avatar"></chat-avatar>
        <h3 class="system-greeting">
          {{ getSystemMessage() }}
        </h3>
      </div>
    </div>
    <div class="chat-box-main">
      <button class="chat-button" (click)="toggleNormalConversation()">Normal</button>
      <div class="chat-message-bottom" #bottom></div>
      <ng-container *ngFor="let message of chatMessages.slice().reverse()">
        <div *ngIf="message.role != 'system' && message.content" class="chat-message" [class.chat-message-received]="message.role != 'user'" [@fadeIn] [class.chat-message-sent]="message.role == 'user'">
          <div>
            <chat-avatar [image]="getAvatarForRole(message.role)" class="chat-message-from-avatar"></chat-avatar>
            <div class="chat-message-text">
              {{message.content}}
            </div>
          </div>
          <!--<div class="chat-message-date">
            {{message.date | date: 'short'}}
          </div>-->
        </div>
      </ng-container>
    </div>
    <div class="chat-box-footer">
      <chat-input (send)="sendMessage($event)" (dismiss)="toggleChat()"></chat-input>
      <button class="chat-button" (click)="toggleSpeechSynthesis()" style="right:-20px;">Synth</button>
    </div>
    <div style="left: 20px; margin-top: 40px;">
      <span>{{soundWasDetected ? 'Sound Was Detected' : ''}}</span>
      <br />
      <span>{{'Last Time Detected: ' + timeSinceDetected}}</span>
    </div>
  </div>
  <button class="chat-button" (click)="toggleChat()">
    <span [@fadeIn] *ngIf="visible && !recording">X</span>
    <span [@fadeIn] *ngIf="visible && recording">R</span>
    <span [@fadeIn] *ngIf="!visible">?</span>
  </button>
  <audio [src]="audioSource" id="audio" controls #audio></audio>
</div>
